<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Element Types</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 th:text="'Прогрес за поръчка № ' + ${orderNum.orderNumber}"></h1>
    <h2 th:text="${orderNum.details}">Order Details</h2>
    <h3 th:text="${orderNum.comment}">Order Comment</h3>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                <tr th:each="item : ${orderNum.items}">
                    <td class="text-center">
                        <a th:href="@{/edit-progress/{itemId}(itemId=${item.id})}"
                           class="btn btn-large btn-outline-primary" th:text="${item.type}">Елемент</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
